TYPE=Ethernet
BOOTPROTO=none
IPADDR="{{ deployer_vm_ip }}"
PREFIX="{{ deployer_vm_prefix }}"
GATEWAY="{{ deployer_vm_gateway }}"
DEFROUTE=yes
NAME="{{ deployer_vm_interface }}"
DEVICE="{{ deployer_vm_interface }}"
ONBOOT=yes
